@charset "UTF-8";
@font-face {
  src: url(fonts/GillSansStd.otf);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-block-header {
  background-color: #e8e5e2 !important;
  color: #fff;
  padding: 7px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-block-header .col-md-9 {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 0 0 75%;
      flex-basis: 0 0 75%;
  line-height: 18px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .top-block-header .col-md-9 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .top-block-header .col-md-9 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.top-block-header .col-md-9 span {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.692);
  text-transform: uppercase;
  margin-right: 30px;
}

.authorization-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  width: 95%;
}

.authorization-links .link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.692);
  margin: 0 15px;
  font-size: 11px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-content .logo-container {
  -ms-flex-preferred-size: 51.5%;
      flex-basis: 51.5%;
  text-align: right;
}

.header-content .header-search-box {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  font-size: 11px;
}

.header-content .header-search-box .search-text-field {
  padding: 9px 34px 9px 15px;
  width: 220px;
  border: none;
  background: #e8e5e2;
  outline: none;
  font-size: 11px;
}

.header-content .header-search-box .search-text-field:focus {
  -webkit-box-shadow: 0 0 3px 1px #68a8e0;
          box-shadow: 0 0 3px 1px #68a8e0;
}

.header-content .header-search-box .search-btn-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation-bar {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .navigation-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navigation-bar .nav-links {
  padding: 0 14px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
}

.navigation-bar .nav-links:hover {
  color: green;
}

.navigation-bar .nav-links i {
  margin-left: 4px;
}

.navigation-bar .nav-links:last-child {
  width: 150px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-bar .nav-links:last-child .fas.fa-shopping-cart {
  font-size: 20px;
  margin-right: 4px;
}

.navigation-bar .nav-links.active {
  color: green;
}

.navigation-bar .nav-links#sale {
  color: green;
}

/* main */
/* slick carousel */
.carousel .slick-dots {
  bottom: 3%;
}

.carousel .slick-dots li {
  background: #e8e5e2;
  width: 20px;
  height: 5px;
}

.carousel .slick-dots li button {
  display: none;
}

.carousel .slick-dots .slick-active {
  background: green;
}

.carousel .carousel-slides-container .carousel-slides {
  width: 100%;
}

/* products */
.products-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* best selling products */
}

.products-container .product-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 35px 0;
}

.products-container .product-intro .product-intro-title {
  color: green;
  font-size: 3rem;
}

.products-container .product-intro .product-intro-details {
  width: 80%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.692);
}

.products-container .product-content .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-container .product-content .product .product-image-container {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.products-container .product-content .product .product-image-container .product-image {
  min-width: 300px;
  width: 100%;
}

.products-container .product-content .product .product-image-container.right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 768px) {
  .products-container .product-content .product .product-image-container.right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.products-container .product-content .product .product-details {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.692);
}

.products-container .product-content .product .product-details .product-details-title {
  font-size: 3rem;
  color: green;
}

.products-container .product-banner-container #banner-img {
  min-width: 300px;
  width: 100%;
}

.products-container .best-selling-products {
  text-align: center;
  padding: 30px 0;
}

.products-container .best-selling-products .section-title {
  margin-bottom: 30px;
  font-size: 2rem;
  color: green;
}

.products-container .best-selling-products .carousel-best-selling-products {
  width: 85%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 212px;
  margin: 0 35px;
  color: rgba(0, 0, 0, 0.692);
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product:focus {
  outline: none;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product:hover .best-selling-product-img-container .best-selling-product-img {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
  border: none;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product:hover .product-item-details .product-item-actions .action-add-to-basket {
  border: 1px solid green;
  background: green;
  color: white;
  cursor: pointer;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .best-selling-product-img-container {
  height: 270px;
  display: table-cell;
  vertical-align: middle;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .best-selling-product-img-container .best-selling-product-img {
  border: 1px solid #e8e5e2;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  margin: 35px 0;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-title {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
  height: 26px;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-title:hover {
  text-decoration: underline;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-title:focus {
  outline: none;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-price:before {
  content: "£";
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions .action-add-to-wishlist {
  color: green;
  background: white;
  border: none;
  cursor: pointer;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions .action-add-to-wishlist i.fa-heart {
  font-size: 16px;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions .action-add-to-wishlist:focus {
  outline: none;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions .action-add-to-basket {
  border: 1px solid #e8e5e2;
  padding: 5px 10px;
  background: white;
  color: rgba(0, 0, 0, 0.692);
  cursor: pointer;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions .action-add-to-basket i.fa-shopping-cart {
  margin-right: 4px;
}

.products-container .best-selling-products .carousel-best-selling-products .best-selling-product .product-item-details .product-item-actions .action-add-to-basket:focus {
  outline: none;
}

/* footer */
.footer {
  background: #000000db;
  color: #e8e5e2;
  padding: 30px 0;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer .footer-container {
    display: -ms-grid;
    display: grid;
    row-gap: 20px;
  }
}

.footer .footer-container #footer-section-left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer .footer-container #footer-section-left #footer-section-contact {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #A8A8A8;
  padding-bottom: 18px;
  margin-right: 30px;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info:last-child {
  border: none;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info .contact-icon-container {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 14px;
  color: #009a00;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info .contact-info-details {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  font-size: 13px;
  display: -ms-grid;
  display: grid;
  row-gap: 15%;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info .contact-info-details .contact-value {
  color: #A8A8A8;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info .contact-info-details #contact-mail {
  text-decoration: none;
}

.footer .footer-container #footer-section-left #footer-section-contact .contact-info .contact-info-details #contact-mail:hover {
  text-decoration: underline;
}

.footer .footer-container .footer-section-right {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.footer .footer-container .footer-section-right .sub-section.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #A8A8A8;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .footer .footer-container .footer-section-right .sub-section.top {
    display: -ms-grid;
    display: grid;
    row-gap: 20px;
  }
}

.footer .footer-container .footer-section-right .sub-section.top #footer-section-about {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -ms-grid;
  display: grid;
  row-gap: 11.7px;
}

.footer .footer-container .footer-section-right .sub-section.top #footer-section-about .footer-nav-link {
  text-decoration: none;
  color: #A8A8A8;
  font-size: 13px;
}

.footer .footer-container .footer-section-right .sub-section.top #footer-section-about .footer-nav-link:hover {
  text-decoration: underline;
}

.footer .footer-container .footer-section-right .sub-section.top #footer-section-newsletter {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -ms-grid;
  display: grid;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .footer .footer-container .footer-section-right .sub-section.top #footer-section-newsletter {
    display: -ms-grid;
    display: grid;
    row-gap: 20px;
  }
}

.footer .footer-container .footer-section-right .sub-section.top #footer-section-newsletter .footer-section-title {
  font-size: 14px;
}

.footer .footer-container .footer-section-right .sub-section.top #footer-section-newsletter .newsletter-description {
  color: #A8A8A8;
}

.footer .footer-container .footer-section-right .sub-section.top .footer-section-form {
  width: 100%;
  height: 30px;
}

.footer .footer-container .footer-section-right .sub-section.top .footer-section-form .input-email-field {
  height: inherit;
  padding: 0 10px;
  width: 80%;
}

.footer .footer-container .footer-section-right .sub-section.top .footer-section-form .submit-btn {
  position: absolute;
  padding: 5px 15px;
  background: #009a00;
  border: none;
  height: inherit;
  color: white;
  cursor: pointer;
}

.footer .footer-container .footer-section-right .sub-section.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .footer .footer-container .footer-section-right .sub-section.bottom {
    display: -ms-grid;
    display: grid;
    row-gap: 20px;
  }
}

.footer .footer-container .footer-section-right .sub-section.bottom #epaymentportal-image-container .epaymentportal-img {
  width: 180px;
}

.footer .footer-container .footer-section-right .sub-section.bottom #footer-copyright-text {
  font-size: 13px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.footer .footer-container .footer-section-right .sub-section.bottom #footer-social-icons .social-link {
  color: white;
  padding: 5px 7px;
  border-radius: 50%;
  background: #c6bfb7;
}

.footer .footer-container .footer-section-right .sub-section.bottom #footer-social-icons .social-link:hover {
  background: #009a00;
}
/*# sourceMappingURL=styles.css.map */