@import "./scss/_variables.scss";
@import "./scss/_mixins.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  box-sizing: border-box;
}

.top-block-header {
  background-color: $primary-color !important;
  color: #fff;
  padding: 7px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;

  .col-md-9 {
    //border: 1px solid;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0 0 75%;
    line-height: 18px;
    width: 80%;

    @include mediaQuery($screenWidth-md) {
      width: 100%;
      justify-content: center;
    }

    @include mediaQuery($screenWidth-sm) {
      justify-content: flex-start;
    }

    span {
      font-size: $font-size-sm;
      color: $font-color-light;
      text-transform: uppercase;
      margin-right: 30px;
    }
  }
}

.authorization-links {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 95%;

  .link {
    text-decoration: none;
    text-transform: uppercase;
    color: $font-color-light;
    margin: 0 15px;
    font-size: $font-size-sm;
  }
}

.header-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 15px;
  box-sizing: border-box;

  .logo-container {
    flex-basis: 51.5%;
    text-align: right;
    .logo{
      @include mediaQuery($screenWidth-md){
        width:140px;
      }
    }
  }

  .header-search-box {
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: $font-size-sm;

    .search-text-field {
      padding: 9px 34px 9px 15px;
      width: 220px;
      border: none;
      background: $primary-color;
      outline: none;
      font-size: $font-size-sm;
      &:focus {
        box-shadow: 0 0 3px 1px #68a8e0;
      }
    }

    .search-btn-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.navigation-bar {
  max-width: 1140px;
  font-size: $font-size-md;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  transition:0.5s ease-in;
  @include mediaQuery($screenWidth-md) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fa-bars{
    display:none;
    padding:15px;
    cursor:pointer;
    @include mediaQuery($screenWidth-md){
      display: inline;
    }
  }

  .nav-links-container {
    display: flex;
    @include mediaQuery(1260px){
      flex-wrap: wrap;
    }

    @include mediaQuery($screenWidth-md){
      display:none;
      flex-direction:column;
    }

  }

  .item-count{
    width:130px;
    
    #millygreen-cart {
      width: 24px;
    }
  }

  .nav-links,
  .item-count {
    padding: 0 14px;
    height: 47px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $font-color-light;

    &:hover {
      color: $secondary-color;
    }

    i {
      margin-left: 4px;
    }

  }

  .nav-links.active {
    color: $secondary-color;
  }

  .nav-links#sale {
    color: $extra-color;
  }
}

/* main */

/* slick carousel */
.carousel {
  .slick-dots {
    bottom: 3%;

    li {
      background: $primary-color;
      width: 20px;
      height: 5px;

      button {
        display: none;
      }
    }

    .slick-active {
      background: $extra-color;
    }
  }

  .slick-arrow:before {
    font-size: 60px;
    @include mediaQuery($screenWidth-md) {
      font-size: $font-size-lg;
    }
  }
  .slick-prev {
    left: 35px;
    @include mediaQuery($screenWidth-md) {
      left: 15px;
    }
  }

  .slick-next {
    right: 50px;
    @include mediaQuery($screenWidth-md) {
      right: 20px;
    }
  }

  .carousel-slides-container {
    .carousel-slides {
      width: 100%;
    }
  }
}

/* products */
.products-container {
  box-sizing: border-box;
  .product-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $primary-padding 0;

    .product-intro-title {
      @include fontstyles-title;
    }

    .product-intro-details {
      width: 80%;
      @include fontstyles-description;
    }
  }

  .product-content {
    display: grid;
    grid-gap: $primary-padding;
    width: 90vw;
    margin: 0 auto;
    @include mediaQuery($screenWidth-sm) {
      width: 100vw;
      margin: 0;
    }
    .product {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;

      @include mediaQuery($screenWidth-md){
        flex-direction: column;
      }

      .product-image-container {
        flex-basis: 45%;

        .product-image {
          min-width: 300px;
          width: 100%;
        }
      }

      .product-image-container.right {
        order: 1;
        @include mediaQuery($screenWidth-md) {
          order: 0;
        }
      }

      .product-details {
        flex-basis: 45%;
        padding: 0 $primary-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mediaQuery($screenWidth-sm) {
          text-align: center;
          flex-basis: 95%;
          padding: 20px;
        }

        .product-details-title {
          @include fontstyles-title;
        }

        .product-details-description {
          @include fontstyles-description;
        }

        .list {
          margin: 15px auto;
          list-style-position: inside;

          .point {
            font-family: $secondary-fontFamily;
          }
        }
      }
    }
  }

  .product-banner-container {
    #banner-img {
      min-width: 300px;
      width: 100%;
    }
  }

  /* best selling products */
  .best-selling-products {
    text-align: center;
    padding: $primary-padding 0;
    .section-title {
      margin-bottom: $primary-padding;
      @include fontstyles-title;
      font-weight: 600;
      font-size: 2.6em;
    }

    .carousel-best-selling-products {
      max-width: 1140px;
      width: 84.5%;
      margin: 0 auto;
      box-sizing: border-box;
      .best-selling-product {
        box-sizing: border-box;
        width: $best-selling-product-img-size;
        margin: 0 45px;
        color: $font-color-light;

        @media (max-width: 1265px) {
          margin: 0 30px;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          .best-selling-product-img-container {
            .best-selling-product-img {
              transform: scale(1.125);
              border: none;
            }
          }

          .product-item-details {
            .product-item-actions {
              .action-add-to-basket {
                border: 1px solid $extra-color;
                background: $extra-color;
                color: white;
                cursor: pointer;
              }
            }
          }
        }

        .best-selling-product-img-container {
          height: 270px;
          display: table-cell;
          vertical-align: middle;

          .best-selling-product-img {
            border: 1px solid $primary-color;
          }
        }

        .product-item-details {
          display: grid;
          row-gap: 15px;
          margin: 35px 0;

          .product-item-title {
            font-size: 11px;
            text-transform: uppercase;
            text-decoration: none;
            color: $font-color-light;
            height: 26px;

            &:hover {
              text-decoration: underline;
            }

            &:focus {
              outline: none;
            }
          }

          .product-item-price {
            &:before {
              content: "£";
            }
          }

          .product-item-actions {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .action-add-to-wishlist {
              color: $extra-color;
              background: white;
              border: none;
              cursor: pointer;
              i.fa-heart {
                font-size: 16px;
              }
              &:focus {
                outline: none;
              }
            }

            .action-add-to-basket {
              border: 1px solid $primary-color;
              padding: 5px 10px;
              background: white;
              color: $font-color-light;
              cursor: pointer;
              i.fa-shopping-cart {
                margin-right: 4px;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}

/* footer */
.footer {
  background: $background-color-footer;
  color: $primary-color;
  padding: 30px 0;
  .footer-container {
    display: flex;
    width: 85%;
    margin: 0 auto;

    @include mediaQuery($screenWidth-md) {
      @include responsiveFooter;
    }

    #footer-section-left {
      flex-basis: 30%;
      #footer-section-contact {
        display: grid;
        row-gap: 15px;

        .contact-info {
          display: flex;
          border-bottom: 0.5px solid $font-color-footer;
          padding-bottom: 18px;
          margin-right: 30px;
          &:last-child {
            border: none;
          }
          .contact-icon-container {
            flex-basis: 10%;
            font-size: 14px;
            color: lighten($secondary-color, 5%);
          }
          .contact-info-details {
            flex-basis: 90%;
            font-size: $font-size-md;
            display: grid;
            row-gap: 15%;

            .contact-value {
              color: $font-color-footer;
            }

            #contact-mail {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .footer-section-right {
      flex-basis: 70%;

      .sub-section.top {
        display: flex;
        border-bottom: 0.5px solid $font-color-footer;
        padding-bottom: 30px;
        @include mediaQuery($screenWidth-md) {
          @include responsiveFooter;
        }
        #footer-section-about {
          flex-basis: 50%;
          display: grid;
          row-gap: 11.7px;
          .footer-nav-link {
            text-decoration: none;
            color: $font-color-footer;
            font-size: $font-size-md;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        #footer-section-newsletter {
          flex-basis: 50%;
          display: grid;
          font-size: $font-size-md;
          @include mediaQuery($screenWidth-md) {
            @include responsiveFooter;
          }

          .footer-section-title {
            font-size: $font-size-footer-title;
          }
          .newsletter-description {
            color: $font-color-footer;
          }
        }

        .footer-section-form {
          width: 100%;
          height: 30px;
          .input-email-field {
            height: inherit;
            padding: 0 10px;
            width: 80%;
          }

          .submit-btn {
            position: absolute;
            padding: 5px 15px;
            background: lighten($secondary-color, 5%);
            border: none;
            height: inherit;
            color: white;
            cursor: pointer;
          }
        }
      }

      .sub-section.bottom {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        @include mediaQuery($screenWidth-md) {
          @include responsiveFooter;
        }
        #epaymentportal-image-container {
          .epaymentportal-img {
            width: 180px;
          }
        }
        #footer-copyright-text {
          font-size: 13px;
          flex-basis: 45%;
        }

        #footer-social-icons {
          .social-link {
            color: white;
            padding: 5px 7px;
            border-radius: 50%;
            background: darken($primary-color, 15%);

            &:hover {
              background: lighten($secondary-color, 5%);
            }
          }
        }
      }
    }
  }
}
