//font
$fontFamily:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-size-sm:11px;
$font-size-md:13px;
$font-size-lg:20px;
$font-size-xl:3rem;

//screenwidth for media query
$screenWidth-md:768px;
$screenWidth-sm:576px;

$border-color:#eeeeee;

$primary-color:#e8e5e2;
$secondary-color:green;

