//font
@font-face {
  src: url(../../fonts/GillSansStd.otf);
  font-family: "GillSans";
}

@font-face {
  src: url(../../fonts/TravelingTypewriter.woff);
  font-family: "Traveling Typewriter";
}

$fontFamily: "GillSans";
$secondary-fontFamily: "Traveling Typewriter";
$font-size-sm: 11px;
$font-size-md: 13px;
$font-size-lg: 20px;
$font-size-xl: 2.1rem;

$font-size-for-details:19px;

//footer
$font-size-footer-title: 14px;
$font-color-footer: #a8a8a8;
$background-color-footer: #000000db;

//best selling product
$best-selling-product-img-size: 212px;
$font-color-light: rgba(0, 0, 0, 0.692);

//screenwidth for media query
$screenWidth-md: 768px;
$screenWidth-sm: 576px;

$border-color: #eeeeee;

$primary-color: #e8e5e2;
$secondary-color: green;

$primary-padding:40px;